$color-primary-0: #27556C;
$color-primary-1: #BBC0C3;
$color-primary-2: #5F8090;
$color-primary-3: #053247;
$color-primary-4: #001723;

$rgba-primary-0: rgba( 39, 85,108,1);
$rgba-primary-1: rgba(187,192,195,1);
$rgba-primary-2: rgba( 95,128,144,1);
$rgba-primary-3: rgba(  5, 50, 71,1);
$rgba-primary-4: rgba(  0, 23, 35,1);

$navy-blue:$color-primary-0;
$tan:$color-primary-1;
$gray-blue:$color-primary-2;
$dark-blue:$color-primary-3;
$darkest-blue:$color-primary-4;